<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mighty player!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
        <link rel="stylesheet" href="/stylesheets/main.css">

		<script type="text/javascript">
			/* Dumped values from server. There is no way how to remove them*/
			var __isRemoteMode = <%= __isRemote %>;
			var __url = "<%= __url %>";
			var __remoteClientId; //located in templates
			var __env = "<%= __env %>";
		</script>
		<script type="text/javascript">
		(function(a,c){a.__qbaka_eh=a.onerror;a.__qbaka_reports=[];a.onerror=function(){a.__qbaka_reports.push(arguments);if(a.__qbaka_eh)try{a.__qbaka_eh.apply(a,arguments)}catch(b){}};a.onerror.qbaka=1;a.qbaka={report:function(){},customParams:{},set:function(a,b){qbaka.customParams[a]=b},exec:function(a){try{a()}catch(b){qbaka.reportException(b)}},reportException:function(){}};var b=c.createElement("script"),e=c.getElementsByTagName("script")[0],d=function(){e.parentNode.insertBefore(b,e)};b.id="qbaka";b.type="text/javascript";b.async=!0;b.src="//cdn.qbaka.net/reporting.js";"[object Opera]"==a.opera?c.addEventListener("DOMContentLoaded",d):d();qbaka.key="aa4785c8c56aa31a9b027862fa0dc58f"})(window,document);qbaka.options={autoStacktrace:1,trackEvents:1};
		</script>
		
		<script src="/javascripts/requirejs/require.js"></script>
		<script type="text/javascript">
		//Fancy loader \m/
		window.require = (function(){
		    var orig_require = window.require;
		    return function(_list, _callback) {
		        var callback_fn = function(_args){ _callback.apply(null, _args); }
	            orig_require.call(null, _list, function(){
					document.getElementById("progress").style.display = "none";
	                callback_fn(arguments);
	            });
		    }
		})();
		
		requirejs.config({
			baseUrl: "/javascripts/",
			paths: {
				/* vendor*/
				'jquery': 'vendor/jquery',
				'jcookie': 'vendor/jquery.cookie',
				'jqrcode': 'vendor/jquery.qrcode',
				'customBindings': 'vendor/ko.customBindings',
				'ko': 'vendor/ko',
				'soundmanager2' : 'vendor/soundmanager2',
				'modernizr': 'vendor/modernizr',
				'bootstrap': 'vendor/bootstrap',
				'socketio': '../socket.io/socket.io',
				'soundcloud': 'http://connect.soundcloud.com/sdk',
				'async': 'requirejs/async',
				/* Viewmodels */
				'generalViewModel': 'viewmodels/general',
				'playerViewModel': 'viewmodels/player',
				'playlistViewModel': 'viewmodels/playlist',
				'remoteViewModel': 'viewmodels/remote',
				'trackViewModel': 'viewmodels/track',
			},
		    shim: {
		        'jcookie': ['jquery'],
		        'jqrcode': ['jquery'],
				'bootstrap': ['jquery'],
				'helpers': {},
				'modernizr': {
					exports: 'Modernizr'
				},
		        'soundmanager2': {
		            exports: 'soundManager'
		        }
		    }
		});
		
		require(["jquery", "app", "helpers", "modernizr","bootstrap" ], function($, app) {
		    $(function() {
		       	app.init();
		    });
		});
		
		</script>
    </head>
    <body  id="mainHolder">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Mighty player</a>
					<div class="nav-collapse collapse">
						<ul class="nav pull-right" data-bind="visible: isLoggedIn, if: isLoggedIn" style="display:none;">
								<li><a href="#">Hello, <b data-bind="text: user().username">123</b></a></li>
								<li><input type="button" class="btn btn-danger" data-bind="click: logout" value="Logout"/></li>
						</ul>
					</div>
                </div>
            </div>
        </div>

        <div class="container">
			<img src="images/loader.gif" id="progress"/>
			<%= body %>
        </div> <!-- /container -->

		
		<script type="text/javascript">
			//Require.js cannot properly handle this new js api, even with require-plugins and goog.
			//TODO: Remove this
			var ongapiload = function(){
				gapi.client.setApiKey("AIzaSyCysd95mg6dLF7_3MK2yzQ5vYvBqDS8GdY");
				gapi.client.load('urlshortener', 'v1');
			};
		</script>
		
		<script src="https://apis.google.com/js/client.js?onload=ongapiload"></script>

		<%= __templates %>
		
		<div class="customTip"></div>
    </body>
</html>
